PORT=5000
DATABASE_URL=postgres://<POSTGRES_USER>:<POSTGRES_PASSWORD>@localhost:5433/<POSTGRES_DB>
FRONTEND_ORIGIN=http://localhost:3000

JWT_SECRET=<something random here would do the trick LOL>

POSTGRES_DB=mahmood_db
POSTGRES_USER=mahmood_user
POSTGRES_PASSWORD=<some password strong enough>

VITE_API_URL=http://localhost:5000

# PORT=5000
# DATABASE_URL=postgres://da_user:Kc9E6ds8@localhost:5433/da_db
# FRONTEND_ORIGIN=http://localhost:3000

# JWT_SECRET=dinner-arrogance-aspire-boil-follow-oversleep-musty-verse

# POSTGRES_DB=da_db
# POSTGRES_USER=da_user
# POSTGRES_PASSWORD=Kc9E6ds8

# VITE_API_URL=http://localhost:5000
